/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .padd-text{
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar{
        background-color: #e4efe7;
    }

    .padding{
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;
    }

    #navbarScroll .nav-a{
        color: #064420;
    }
    .first-p{
        font-size: 25px;
        /* position: absolute; */
        color: #064420;
        /* text-shadow: 1px 0px  #000; */
    }
    .head-text{
        font-size: 30px;
        /* position: absolute; */
        color: #064420;
        /* text-shadow: 2px 2px  #000; */
    }

    .second-p{
        /* position: absolute; */
        /* font-size: 0px; */
        color: #064420;
        /* text-shadow: 1px 0px  #fff; */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */