/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .padd-text{
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar{
        background-color: #e4efe7;
    }

    .padding{
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;
    }

    #navbarScroll .nav-a{
        color: #064420;
    }
    .first-p{
        font-size: 25px;
        color: #064420;  
    }
    .head-text{
        font-size: 30px;
        color: #064420;
    }

    .second-p{
        color: #064420;
    }
    .d-flex{
        flex-direction: column;
    }
    /* .d-flex .w-100{
        max-width: 600px;
    } */

    .text-hover{
        padding-left: 50px;
        padding-right: 50px;
    }

    /* styling for about section */
    .navbar-about{
        background: transparent;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */