@font-face{
    /* font-family: "permanent-marker";
    src: url(../../PermanentMarker-Regular.ttf) */
    font-family: "anton-regular";
    src: url(./../fonts/Anton-Regular.ttf);
  }

@font-face {
    font-family: "prata-regular" ;
    src: url(./../fonts/Prata-Regular.ttf);
}

.header-text{
    display: flex;
    color: #064420;
}

.body-color{
    background-color: #d1d9d9;
    height: 100vh;
    padding-top: 180px;
}

#navbarScroll .nav-a{
    color: #fff;
}

.body-image{
    background: url("../img/f1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* opacity: 0.5; */
}

.first-p{
    margin-bottom: -0rem;
    font-size: 40px;
}
.head-text{
    font-size: 50px;
}
.second-p{
    font-size: 15px;
}

.padding{
    padding-left: 100px;
    padding-right: 100px;
}

.btn-style{
    background-color: #fff;
    color: #1eae98;
}

section>#design a{
    text-decoration: none;
   
}

#design a:hover{
    text-decoration: none;
}

/* ====== styling for the second section===== */
 .bg-pink{
    background-color: #ffe5e2;
}

.icon-hand{
    background-color: #f29191;
    color: white;
    padding: 15px;
    /* border-radius: 35px; */
}

/* ==== styling for the third section ===== */
.body-colo{
    /* background-color: #d1d9d9; */
    height: 100vh;
    padding-top: 180px;
}

.body-imag{
    background: url("../img/gbb.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* opacity: 0.5; */
}

/* ===== styling for the furniture section ===== */

.my-pad{
    padding-top: 90px;
    padding-bottom: 90px;
}