@font-face{
    /* font-family: "permanent-marker";
    src: url(../../PermanentMarker-Regular.ttf) */
    font-family: "anton-regular";
    src: url(./../fonts/Anton-Regular.ttf);
  }

@font-face {
    font-family: "prata-regular" ;
    src: url(./../fonts/Prata-Regular.ttf);
}

body{
    margin: 0px;
    padding: 0px;
    
}

.header-text{
    display: flex;
    color: #064420;
}

.body-color{
    background-color: #d1d9d9;
    height: 100vh;
    padding-top: 180px;
}

#navbarScroll .nav-a{
    color: #064420;
}

.body-image{
    background: url("../img/f1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* opacity: 0.5; */
}

.first-p{
    margin-bottom: -0rem;
    font-size: 40px;
}
.head-text{
    font-size: 50px;
}
.second-p{
    font-size: 15px;
}

.padding{
    padding-left: 100px;
    padding-right: 100px;
}

.btn-style{
    background-color: #fff;
    color: #1eae98;
}

section>#design a{
    text-decoration: none;
   
}

#design a:hover{
    text-decoration: none;
}

/* ====== styling for the second section===== */
 .bg-pink{
    background-color: #ffe5e2;
}

.icon-hand{
    background-color: #f29191;
    color: white;
    padding: 15px;
    
}

/* ==== styling for the third section ===== */
.body-colo{
    /* background-color: #d1d9d9; */
    height: 100vh;
    padding-top: 180px;
}

.body-imag{
    background: url("../img/gbb.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* opacity: 0.5; */
}

/* ===== styling for the furniture section ===== */

.my-pad{
    padding-top: 90px;
    padding-bottom: 90px;
}

.image-1 .m-text {
    visibility:hidden;

}

.image-1:hover .m-text {
    visibility:visible;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    color: #fff;
    height: 100%;
    transition: 1s;
}
.image-1:hover .m-text > div {
    position: absolute;
    bottom: 5px;
    left: 5%;
}
    
.search-icon{
    background-color: rgb(68, 66, 66);
    color: white;
    padding: 15px;

}

/* ===== styling for the counter section ====== */
#counts{
    background-color: #d1d9d9;
}
.counter{
    font-size: 50px;
}
.count-text{
    color: #687980;
}

/* ======== styling the testimonial ====== */

#testimonial{
    background-color: #edffec;
}
.col-color{
    background-color: #fff;
}

.col-gold{
    color: #fea82f;
}
.bg-gold{
    background-color: #fea82f !important;
}


.info{
    background-color: #d4eaf5;
}
.icon-hands{
    background-color: #fff;
    color: #fea82f;
    padding: 35px;
}

.icon-handss{
    background-color: #a4bcff;
    color: #150188;
    padding: 35px;
}
.butt a{
    text-decoration: none;
}
.text-hover h4:hover{
    color: #fea82f;
    cursor: pointer;
    transition: 0.5s;
}

/* .dark-mode{
    background-color: black;
    color: #fff;
} */

.footer-bg{
    background-color: #78c4d4;
    color: #687980;
}

/* ===== styling for about section ===== */
#nav-sec{
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url("../img/mg.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.about-m{
    margin-top: 25rem !important;
}
.home-span{
    /* font-size: 10px solid; */
    color: #fff;
}
.about-span{
    font-size: 70px;
    color: #064420;
}

/* .body-col{
    
} */
/* ==== styling for the about section ==== */
.btns{
    background-color: #fea82f !important;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.about-padd{
    padding-top: 80px;
    padding-bottom: 80px;
}

.head-4{
    font-size: 40px;
}

.h6-about{
    color: #687980;
}

.p-font{
    font-family: prata-regular;
    color: #687980;
}